*{
    box-sizing: border-box;
}
nav{
    /*algin the content on the same line*/
    display:flex;

    /*Align the flex items at the center of the container: 
     property aligns the flexible container's items when 
     the items do not use all available space on the main-axis (horizontally).
    */
    justify-content: space-around;

    background-image: linear-gradient(to right, DarkBlue,Cyan);
    
    position: sticky;
    
}


.nav-links{
    /*algin the content on the same line*/
    display: flex;

    /*set the width of each link*/ 
    width:30%;
    
    justify-content: space-around;
}

/*Access the li so we can style them*/
.nav-links li{

    /*remove the bullets on each list*/
    list-style-type: none;
}

.nav-links a{
    /*set the color of each link*/
    color: gold;

    /*remove the underline on each link*/
    text-decoration: none;

    /*change the font size on each link*/
    font-size:14px;

    /*increases or decreases the space between characters in a text.*/
    letter-spacing: 2x;

    /*sets how thick or thin characters in text should be displayed.*/
    font-weight: bold;
}

/*Do somwthing when we hover of the links*/
.nav-links li a:hover{
    /*change  color*/
    color: red;
}



.logo
{
    font-family: 'Dancing Script', cursive;
    color:gold;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size:18px;
}

body{
	overflow-x: hidden;
    font-family: Lato, sans-serif;
    color: white;
    background-image: linear-gradient(to right,crimson,blue);
}

/*Margin is outer space of an element, while padding is inner space of an element.
 Margin is the space outside the border of an element, while padding is the space inside the border of it.*/
.container{

    /*algin the content on the same line*/
    display: flex;
    justify-content: space-around;

    /* margin properties are used to create space around elements, outside of any defined borders.*/
    margin-top:50px;

}

img{
    width: 500px;
    
}


.laptop-info{

    width:40%;
    font-size:15px;    
 
}
.news{
    margin-top:50px;
    column-count: 4;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: black;
    text-align: justify;
}

button{
    border-radius: 10px;
    height: 40px;
    width: 30%;
    margin-left:55px;

}

button:hover{
    
    height: 60px;
    
}

.bt1{
    background-color: transparent;    
    border-color: black;
    color: white;
}

.bt1:hover{
    background-color: red;
    border-color: white;
}

.bt2{
    background-color: black;   
    border-color: purple;
    color: white;
}

.bt2:hover{
    background-color: red;
    border-color:white; 
}

.bt3{
    background-color: white;
}

.bt3:hover{
    background-color: white;
}
.readmorebtn{
    margin-left:50%;
    margin-top:-2%;
}
.buttons{
    padding-left:40px;  
}

.Button{
    padding-left:40px;  
}
.readmorebtn{
    background-color: transparent;    
    border-color: black;
    color: white;
}

.readmorebtn:hover{
    background-color: red;
    border-color: white;
}

table{


    /*If you want the borders to collapse into one border, add the CSS border-collapse property:*/
    border-collapse: collapse;
    width: 100%;
}

th{
    background: gold;
}
th,td{
    border: 1px solid #dddddd;
    
    text-align: left;
     /*specifies the space between the cell content and its borders.*/
    
     padding: 8px;
}
@media screen and (max-width:1024px)
{
    .nav-links{
        width: 60%;
        overflow: hidden;
    }
}

@media screen and (max-width:720px)
{
    /*When the screen reaches this resolution display the mobile nav*/
    .burger{
        display: block;
    }

    /*hide the links */
    .nav-links li{
        opacity: 0;
    }

    .nav-links{
        position: absolute;
    }

    button{
        height: 40px;
        width: 20%;
    }
}

@media screen and (max-width:420px)
{
    img{
        width:250px;
    }  
    
    .laptop-info{

        width:20%;
        font-size:15px;    
     
    }

    body{
        overflow: hidden;
    }
}
p {
	color: gold;
	
}
/* Center the image and position the close button */

.imgcontainer {
text-align: center;
margin: 24px 0 12px 0;
position: relative;
}

audio {
	display:flex;
	justify-content: space-around;
	position: sticky;
	 width:40%;
    font-size:15px; 
}

video {
	display:flex;
	justify-content: space-around;
	position: sticky;
	 width:20%;
    font-size:10px; 
}

caption {
	
 font-family: 'Dancing Script', cursive;
    color:lawnGreen;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size:24px;
}

td {
	font-family: 'Dancing Script', cursive;
	color:lawnGreen;
	font-size:18px;
}

th {
	color: blue;
}



	